<div class="top-bar">
  <div class="content-column">
    <div class="banner">
      <div class="logo-left">
        <a href="https://energypolicy.solutions" target="_blank" rel="noopener">
          <img src="/images/logo_eps_white.svg" width="254" height="50" alt="EPS logo"/>
        </a>
      </div>
      <div class="logo-right">
        <a href="https://energyinnovation.org" target="_blank" rel="noopener"><img src="/images/logo_ei_horz_partial_white.svg" alt="Energy Innovation logo"/>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="content-column">
  <div class="nav-bar">
    <div class="nav-link">
      <a href="/">Contents</a>
    </div>
    <div class="nav-link">
      <a href="/video-series">EPS Video Series</a>
    </div>
    <div class="nav-link">
      <a href="/download">Download Model</a>
    </div>
  </div>
</div>