/*! layout elements
--------------------------------*/
/*-- Landing page specific styles
--------------------------------*/
#branding #logo {
  width: 300px; }

#branding.fixed {
  padding: 1rem 0 !important; }
  #branding.fixed #logo {
    width: 300px; }

#main {
  width: 100%;
  max-width: 100%; }

.contain {
  max-width: 1354px; }

#navmain ul#menu-main-menu li#menu-item-731 {
  display: none; }

@media screen and (max-width: 540px) {
  #branding #logo {
    width: 300px; }
  #branding.fixed #logo {
    width: 300px; } }

@media screen and (max-width: 800px) {
  #main {
    background: white; } }

@media screen and (min-width: 801px) {
  iframe#eps_landing {
    height: 1090px; }
  #branding #logo {
    width: 23.5%;
    min-width: 300px !important; }
  #navmain {
    right: 10px; } }
