/*! layout elements
--------------------------------*/
/* Slider */
.slider-strip {
  width: 100%;
  clear: both;
  float: left; }

#video_slideshow {
  /*
	@include centerblock(100%);
	max-width: 760px;
	overflow: visible;
*/
  padding: 0;
  margin-bottom: 3rem;
  list-style: none;
  position: relative;
  overflow: visible; }
  #video_slideshow .slick-track, #video_slideshow .slick-list {
    overflow: hidden;
    background: black; }
  #video_slideshow .slick-slide {
    opacity: 0.8; }
    #video_slideshow .slick-slide:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(60, 123, 133, 0.5);
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #video_slideshow .slick-slide.slick-current {
      opacity: 1; }
      #video_slideshow .slick-slide.slick-current:after {
        display: none; }
  #video_slideshow .slide-content {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative; }
    #video_slideshow .slide-content img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    #video_slideshow .slide-content .slide-text {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      padding: .5em;
      color: #fff; }
  #video_slideshow .slick-list .slick-track {
    overflow: hidden; }

.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  bottom: -44px;
  display: block;
  height: 40px;
  width: 30px;
  line-height: 0px;
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  color: #3c7b85;
  padding: 0;
  border: none;
  outline: none;
  z-index: 1001;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: #ff7a27;
    outline: none;
    background: transparent;
    opacity: 1.0; }
  .slick-prev.slick-disabled,
  .slick-next.slick-disabled {
    opacity: 0.7; }

.slick-prev {
  right: 40px; }

.slick-next {
  right: 0; }

/* Dots */
.slick-slider {
  margin-bottom: 0; }

.slick-dots {
  position: absolute;
  top: 100%;
  padding: .5rem 0;
  list-style: none;
  display: block;
  text-align: left;
  width: auto; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none;
        color: #032b43; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          border-color: white;
          opacity: 1.0; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 10px;
        height: 10px;
        line-height: 10px;
        text-align: center;
        background-color: #3c7b85;
        opacity: 0.5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border: 2px solid #3c7b85;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
    .slick-dots li.slick-active button:before {
      background-color: #ff7a27;
      opacity: 1.0;
      border-color: #ff7a27; }

@media screen and (max-width: 900px) {
  .slick-prev {
    left: 20px; }
    [dir="rtl"] .slick-prev {
      left: auto;
      right: 20px; }
  .slick-next {
    right: 20px; }
    [dir="rtl"] .slick-next {
      left: 20px;
      right: auto; } }
