:root {
  --base-font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --base-font-size: 16px;
  --small-font-size: calc(var(--base-font-size) * 0.875);
  --base-line-height: 1.5;
  --spacing-unit: 30px;
  --text-color: #161616;
  --background-color: #ffffff;
  --background-color-code: #e0e0e0;
  --link-color: #0f62fe;
  --link-color-visited: #0f62fe;
  --link-color-hover: #78a9ff;
  --grey-color: #828282;
  --grey-color-light: #b5b5b5;
  --grey-color-dark: #616161;
  --link-brightness: 1;
  --image-brightness: 1;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap');

/**
 * Dark mode overrides
 */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #262626;
    --background-color-code: #525252;
    --text-color: #f4f4f4;
    --link-brightness: 1.6;
    --image-brightness: 0.75;
  }
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}
/**
  * Basic styling
  */
body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--background-color);
}
p {
  line-height: 150%;
}

/**
  * Set `margin-bottom` to maintain vertical rhythm
  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 6px;
}

/**
  * Images
  */
img {
  max-width: 100%;
  vertical-align: middle;
  filter: brightness(var(--image-brightness));
}

/**
  * Figures
  */
figure > img {
  display: block;
}
figcaption {
  font-size: var(--small-font-size);
}

/**
  * Lists
  */
ul,
ol {
  margin-left: var(--spacing-unit);
}
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

/**
  * Links
  */
a {
  color: var(--link-color);
  text-decoration: none;
}
a:visited {
  color: var(--link-color-visited);
  text-decoration: none;
}
a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

/**
  * Tables
  */
td {
  vertical-align: top;
}

/**
  * Blockquotes
  */
blockquote {
  color: var(--grey-color);
  border-left: 4px solid var(--grey-color-light);
  padding-left: var(--spacing-unit) / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
  * Code formatting
  */
pre,
code {
  font-size: 15px;
  background-color: var(--background-color-code);
  border: 1px solid var(--grey-color-light);
  border-radius: 3px;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Page content
 */
.page-content {
  padding: var(--spacing-unit) 0;
}
.page-heading {
  font-size: 20px;
}

/**
* Posts
*/
.post-title {
  font-size: 32px;
  letter-spacing: -1px;
  margin-top: 5px;
}
.post-content {
  margin-bottom: var(--spacing-unit);
}
.post-content h2 {
  font-size: 24px;
}
.post-content h3 {
  font-size: 20px;
}
.post-content h4 {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: var(--spacing-unit);
}
.post-meta {
  font-size: var(--small-font-size);
  color: var(--grey-color);
}
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Page frame
 */
.top-bar {
  height: 60px;
  background-color: #393939;
}
.content-column {
  width: 1000px;
  margin: auto;
}
.banner {
  padding: 5px 0;
}
.logo-left {
  float: left;
  display: inline;
}
.logo-left img {
  height: 50px;
  /* Do not brighten logo in dark mode because it is on an unchanging background */
  filter: brightness(1);
}
.logo-right {
  float: right;
  display: inline;
}
.logo-right img {
  height: 50px;
}
.nav-bar {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #999999;
  height: 42px;
}
.nav-link {
  float: left;
  padding: 8px 2em 0 0;
}
.nav-link a {
  font-size: 20px;
}
.nav-link a:hover {
  text-decoration: none;
}

/**
 * Button link
 */
a.btn {
  font-size: 1em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4E7892', endColorstr='#FF2A4150');
  background-color: #4e7892;
  border: 0;
  color: white;
  text-shadow: #22343f 0 -1px 0;
  text-decoration: none;
}
a.btn:hover {
  background-color: #456a81;
}
a.btn:active {
  background-color: #406277;
}
a:not(.btn) {
  /* Brighten all text links except links styled as buttons. */
  filter: brightness(var(--link-brightness));
}
